@model shanuMVCUserRoles.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <dt>Roles:</dt>
            <dd>
                <a href="@Url.Action("Index", "Role")">Manage roles</a>
            </dd>
        }
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <dt>Users:</dt>
            <dd>
                <a href="@Url.Action("Index", "ManageUser")">Manage users</a>
            </dd>
        }
    </dl>
</div>
